@media (max-width: 1000px) {
    .aboutus .services {
        flex-direction: column !important;
        align-items: center !important;
    }

    .aboutus .services .service {
        margin-top: 20px;
    }
}



@media only screen and (max-width: 752px) {
    .large {
        display: none;
    }

    .num {
        margin-top: 0px;

    }

    .rate {
        align-items: center;
        text-align: center;
    }
}

@media only screen and (max-width: 1200px) {
    .banner-header {
        display: none;
    }
}

.banner-header {
    justify-content: center;
    margin: 50px auto 40px;
}

.header {
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    /* position: fixed; */
    background-color: white;
    height: 82px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-section {
    background-color: white;
    /* width: 250px; */
    align-items: center;
    display: flex;

}

.hsoft-logo {
    opacity: 1;
    transition: 0.5s;
    height: 70px;
    margin-left: 45px;
    margin-right: 40px;
}

.hsoft-logo:hover {
    opacity: 0.7;
}


/*//////////////// middle section  ////////////////////////*/
.middle-section {
    /* background-color: antiquewhite; */
    flex: 2;
    margin-left: 60px;
    margin-right: 20px;
    max-width: 700px;
    display: flex;
    align-items: center;
}

.middle-section input: {
    border: none;

}

.search-bar {
    flex: 1;
    height: 34px;
    margin-left: 35px;
    padding-left: 15px;
    border-radius: 10px;
    border-width: 0px;
    border-color: beige;
    box-shadow: 7px 5px 8px 7px #aeaeae38;
    font-size: 14px;
}

.search-bar:hover {
    border: none;
}

.search-button {
    margin-left: -48px;
    background-color: white;
    border-color: white;
    border-style: solid;
    border-radius: 30px;
    height: 33px;
    width: 40px;
    position: relative;
}

.search-button::placeholder {
    font-size: 14px;
}

.search-button:hover {
    transition: opacity 0.15s;
}

.search-button .tooltip {
    font-family: Roboto,
        Arial;
    position: absolute;
    background-color: gray;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -30px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}

.search-img {
    border: none;
}




/*////// Right Section ///// */

.right-section {
    margin-left: 30px;
    margin-right: 0px;
    align-items: center;
    background-color: white;
    width: 270px;
    display: flex;
    /* justify-content: space-between; */

}

.ring-button {
    display: flex;
    width: 45px;
    height: 45px;
    background-color: white;
    border-style: solid;
    background-color: white;
    border-width: 0px;
    align-items: center;
    align-content: center;
    justify-content: center;
    /* margin-top: 20px; */
}

.ring-icon {}

.avatar-button {
    display: flex;
    width: 30px;
    height: 30px;
    background-color: white;
    border-style: solid;
    background-color: white;
    border-width: 0px;
    border-radius: 50%;


}

.avatar-icon {}


/* .header-top {
    display: inline-flex;
}

.logo-cpn {
    width: 60px;
    height: 60px;
    float: left;
    margin-left: 30px;
    align-content: center;

}

.nav-logo {
    margin: 15px 20px 20px 15px;
    align-content: center;
    justify-content: center;

}

.nav-search {

    margin: 10px 20px 10px 200px;
    width: 300px;
    align-content: center;


}

.nav-login-reg {} */

/*
@font-face {
    src: url(fonts/Lexend-VariableFont_wght.ttf);
    font-family: Lexend;
} */
